<!--Burger NFT App by: Jackson Rector-->
<!--checkout screen-->

<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Burger NFT Shop</title>
  <link rel="stylesheet" type="text/css" href="static/p2ss.css">
  <link rel="icon" type="image/x-icon" href="static/images/burgericon.ico">
</head>

<body>
    <center>
  
      <!--header-->
    <h1>Checkout</h1>
  
    <hr>
  
    <div class="topnav">
      <a href="index">Home</a>
      <a href="contact">Contact</a>
      <a href="#about">About</a>
    </div>

    <div class="img-with-text;" style="display:inline-block;position:relative;left:-100px">
      <button class="hovertext" data-hover="little kid" style="border:solid;border-width:9px;margin:50px;position:relative;left:95px;" onclick='window.location.href=""'><img style="border-color:white;display:inline" src="static\images\burgertumble.jpg" alt="sometext" /></button>
    </div>

    <p style="font-size:36px;">Mid-Fall</p>
    <p style="font-size:24px">$50</p>

    <button style="border:solid;border-width:3px;border-radius:7.5%;" onclick="window.location.href='checkout'" style="font-size:34px;">Check Out</button>
    </center>
    <img src="static/images/advertise.png" style="border:none;border-radius:0%;position: relative;top:-370px;width:300px;height:300px;"alt="ad">
    <img src="static/images/longaddy.png" style="border:none;border-radius:0%;width:730px;height:100px;text-align:center;position:relative;left:305px;top:-100px">

</html>
</body>