<!DOCTYPE html>
<head>
    <title>Burger NFT Shop</title>
    <link rel="stylesheet" type="text/css" href="static/p2ss.css">
    <link rel="icon" type="image/x-icon" href="static/images/burgericon.ico">
</head>

<html>
<body>
    <hr>
    <div class="topnav">
        <a href="index">Home</a>
        <a href="contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <center>
        <h1>We're Sorry!</h1>
        <p>It appears our checkout is under maintenance.<br><br> If you still wish to purchase this NFT, please contact support@burgernft.com<br><br>Thank you!</p>
        <img src="static/images/longadvertise.png" style="border:none;border-radius:0%;width:auto;height:auto;" alt="longad">
    </center>
</body>
</html>