<!--Burger NFT App by: Jackson Rector-->
<!--index-->

<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Burger NFT Shop</title>
  <link rel="stylesheet" type="text/css" href="static/p2ss.css">
  <link rel="icon" type="image/x-icon" href="static/images/burgericon.ico">
</head>

<body>
  <center>

    <!--header-->
  <img src="static/images/burgerlogo.png" href="Burger Logo" width="200px" height="200px" style="border:none">

  <hr>

  <div class="topnav">
    <a class="active" href="index">Home</a>
    <a href="contact">Contact</a>
    <a href="#about">About</a>
  </div>

  </center>
  <marquee style="font-size:200%;margin:6px">
    Shop Burger NFTS!⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀Profitable pictures for sale right here!
  </marquee>
  <center>

    <!--body w pictures-->
  <div class="img-with-text;" style="display:inline-block;position:relative;left:-100px">
    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgerkidbuy"'><img style="border-color:white;display:inline" src="static\images\burgerkid.png" alt="sometext" /></button>
    <p>Adolescent Burger: $35</p>

    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgertumblebuy"'><img style="border-color:white;display:inline" src="static\images\burgertumble.jpg" alt="price" /></button>
    <p>Burger Mid-Fall: $50</p>
  </div>

  <div class="img-with-text" style="display:inline-block;position:relative;">
    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgereatbuy"'><img style="border-color:white;display:inline" src="static/images/burgereat.png" alt="burger eat" /></button>
    <p>Golfing and Donalds: $65</p>

    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgercutebuy"'><img style="border-color:white;display:inline" src="static/images/burgercute.png" alt="burgercute" /></button>
    <p> Burger Sipping: $65</p>
  </div>

  <hr>

    <!--footer-->
  <p>⠀</p>
  <p>⠀</p>

  <p style="font-size:38px">
    <button onclick='window.location.href="page3"'> < </button>

    <a href="index" alt="Home">1</a>
    <a href="page2" alt="Page 2">2</a>
    <a href="page3" alt="Page 3">3</a>

    <button onclick='window.location.href="page2"'> > </button>
  </p>

  </center>
</html>
</body>

