<!--Burger NFT App by: Jackson Rector-->
<!--page2-->

<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Burger NFT Shop</title>
  <link rel="stylesheet" type="text/css" href="static/p2ss.css">
  <link rel="icon" type="image/x-icon" href="static/images/burgericon.ico">
</head>

<body>
  <center>

    <!--header-->
  <div class="topnav">
    <a href="index">Home</a>
    <a href="contact">Contact</a>
    <a href="#about">About</a>
  </div>

  </center>
  <marquee style="font-size:200%;margin:6px">
    Shop Burger NFTS!⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀Profitable pictures for sale right here!
  </marquee>
  <center>

    <!--body w pictures-->
  <div class="img-with-text;" style="display:inline-block;position:relative;left:-100px">
    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgercutbuy"'><img style="border-color:white;display:inline" src="static/images/burgercut.png" alt="sometext" /></button>
    <p>Horrendous Haircut: $50</p>

    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="babyburgbuy"'><img style="border-color:white;display:inline" src="static/images/babyburg.png" alt="sometext" /></button>
    <p>Toddler: $45</p>
  </div>

  <div class="img-with-text" style="display:inline-block;position:relative;">
    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgerrollsbuy"'><img style="border-color:white;display:inline" src="static/images/burgerrolls.png" alt="price" /></button>
    <p>Burger with RR: $50</p>

    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgerliftbuy"'><img style="border-color:white;display:inline" src="static/images/burgerlift.png" alt="burgercute" /></button>
    <p>Maxing out(225): $75</p>
  </div>

  <hr>

    <!--footer-->
  <p>⠀</p>
  <p>⠀</p>

  <p style="font-size:38px">
    <button onclick='window.location.href="page2"'> < </button>

    <a href="index" alt="Home">1</a>
    <a href="page2" alt="Page 2">2</a>
    <a href="page3" alt="Page 3">3</a>

    <button onclick='window.location.href="page3"'> > </button>
  </p>

  </center>
</body>
</html>