<!--Burger NFT App by: Jackson Rector-->
<!--page3-->

<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Burger NFT Shop</title>
  <link rel="stylesheet" type="text/css" href="static/p2ss.css">
  <link rel="icon" type="image/x-icon" href="static/images/burgericon.ico">
</head>

<body>
  <center>

    <!--header-->      
  <div class="topnav">
    <a href="index">Home</a>
    <a href="contact">Contact</a>
    <a href="#about">About</a>
  </div>

  </center>
  <marquee style="font-size:200%;margin:6px">
    Shop Burger NFTS!⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀Profitable pictures for sale right here!
  </marquee>
  <center>

    <!--body w pictures-->
  <div class="img-with-text;" style="display:inline-block;position:relative;left:-100px">
    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="smallspillbuy"'><img style="border-color:white;display:inline" src="static/images/smallspill.gif" alt="sometext" /></button>
    <p>Burger Racing: $100</p>

    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgerfadedbuy"'><img style="border-color:white;display:inline" src="static/images/burgerfaded.png" alt="sometext" /></button>
    <p>Back of His Head: $35</p>
  </div>

  <div class="img-with-text" style="display:inline-block;position:relative;">
    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgerlaybuy"'><img style="border-color:white;display:inline" src="static/images/burgerlay.png" alt="price" /></button>
    <p>Frowning: $60</p>

    <button class="hovertext" data-hover="Click to buy now!" style="border:solid;border-width:9px;" onclick='window.location.href="burgergolfbuy"'><img style="border-color:white;display:inline" src="static/images/burgergolf.png" alt="burgercute" /></button>
    <p>Golfing: $30</p>
  </div>

  <hr>

    <!--footer-->
  <p>⠀</p>
  <p>⠀</p>

  <p style="font-size:38px">
    <button onclick='window.location.href="page2"'> < </button>

    <a href="index" alt="Home">1</a>
    <a href="page2" alt="Page 2">2</a>
    <a href="page3" alt="Page 3">3</a>

    <button onclick='window.location.href="index"'> > </button>
  </p>

  </center>
</body>
</html>